<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="{{ page.body_class }}">

    {{ content }}

    {% if site.logo %}
      <a href="{{ site.baseurl | prepend: site.url }}" id="blog_badge">
        <span style="background-image:
        url('{{ site.baseurl }}/assets/images/{{ site.logo }}');">{{ site.name }}</span>
      </a>
    {% endif %}

    <script>
      function no_schema_links () {
        var links = document.querySelectorAll('.js-remove-domain-schema');
        if (links) {
          for (i = 0; i < links.length; ++i) {
            var link = links[i],
              text = link.innerHTML,
              no_schema = text.replace(/.*?:\/\//g, "");
            link.innerHTML = no_schema;
          }
        }
      }

      window.onload = function () {
        no_schema_links();
      }
    </script>

    {% include analytics.html %}

    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=2065793803695388";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));
    </script>
  </body>
</html>
